* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-image: url(../img/fondositioweb.jpg);
  background-size: cover; }
  body p {
    color: white;
    margin: 10px;
    font-size: 15px; }
  body span {
    color: white;
    margin: 5px; }
  body a {
    text-decoration: none;
    color: white; }

header {
  color: white;
  background-color: #000000;
  padding: 30px;
  grid-area: inicio; }
  header .logotipo {
    display: flex;
    justify-content: center; }
  header ul {
    list-style: none; }
    header ul li {
      font-size: 25px; }

.cuerpo {
  grid-area: cuerpo; }
  .cuerpo section {
    background-color: #000000;
    padding: 5px;
    margin: 2%; }
  .cuerpo h3 {
    color: white; }
  .cuerpo .titulo {
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    background-image: url(../img/fondonba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    grid-area: titulo; }
  .cuerpo .textopri {
    font-size: 28px;
    text-align: center;
    padding: 10px;
    background-color: #990000;
    border: 10px solid white; }
  .cuerpo .vertodo {
    color: white;
    background-color: #125B50;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px 40px 5px 40px; }
  .cuerpo .row {
    display: flex;
    justify-content: flex-start; }
    .cuerpo .row .nombreyprecio {
      font-size: 15px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center; }
      .cuerpo .row .nombreyprecio .boton {
        padding: 3px;
        background-color: #125B50;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        margin: 5px; }

.contacto {
  color: white;
  padding: 200px;
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  border: 5px solid white; }
  .contacto textarea {
    resize: none;
    max-height: 20px;
    max-width: 220px; }
  .contacto .enviarinfo {
    font-size: 17px; }

.nosotros {
  color: white;
  padding: 130px;
  background-color: #000000;
  border: 5px solid #ffffff;
  text-align: center;
  font-size: 20px; }

ul {
  list-style: none; }

.selec {
  padding: 50px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }
  .selec .categoryselec {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 5px solid #FAF3E3;
    background-color: #990000;
    padding: 10px; }
    .selec .categoryselec .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 100px;
      font-weight: 200;
      font-weight: bold; }

.vertodo {
  color: white;
  background-color: #125B50;
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px 40px 5px 40px; }

.titulo {
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-image: url(../img/fondonba.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Anton', sans-serif;
  grid-area: titulo; }

.textopri {
  font-size: 28px;
  text-align: center;
  padding: 10px;
  background-color: #990000;
  border: 10px solid white; }

.categoryselec:hover {
  transform: scale(1.5);
  transition: all 2s; }

section {
  background-color: #000000;
  padding: 5px;
  margin: 2%; }

.row {
  display: flex;
  justify-content: flex-start; }
  .row .nombreyprecio {
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
    .row .nombreyprecio .boton {
      padding: 3px;
      background-color: #125B50;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      margin: 5px; }

footer {
  color: #FAF3E3;
  background-color: #000000;
  font-size: 25px;
  text-decoration: none;
  grid-area: pie; }
  footer .pietexto {
    font-size: 25px;
    color: white;
    background-color: #990000;
    padding: 20px;
    border: 5px solid #FAF3E3; }
  footer .pie {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-content: center; }
  footer .icon {
    display: grid;
    justify-content: center; }
  footer .menufooter {
    display: grid;
    justify-content: center; }
  footer p {
    text-align: center; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "inicio inicio inicio" "titulo titulo titulo" "cuerpo cuerpo cuerpo" "pie pie pie"; }
  @media (max-width: 992px) {
    .contenedor .contenedor {
      grid-template-areas: "inicio inicio inicio" "titulo titulo titulo" "cuerpo cuerpo cuerpo" "pie pie pie";
      grid-template-columns: 1fr 1fr 1fr; }
    .contenedor .inicio {
      font-size: 20px; }
    .contenedor .pie {
      display: flex;
      flex-direction: column; }
    .contenedor .pietexto {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
    .contenedor .menu {
      display: flex;
      flex-direction: column;
      color: #FAF3E3;
      background-color: #990000;
      padding: 10px;
      border: 10px solid #FAF3E3;
      text-align: center; }
    .contenedor .camisetas {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .contenedor .selec {
      display: flex;
      flex-direction: column; }
    .contenedor .categoryselec {
      margin: 10px; }
    .contenedor .categoryselec:hover {
      transform: scale(1.2);
      transition: all 2s; }
    .contenedor .nombreyprecio {
      font-size: 13px; }
    .contenedor span {
      margin: 3px; } }
  @media (max-width: 768px) {
    .contenedor .contenedor {
      grid-template-areas: "inicio inicio inicio" "titulo titulo titulo" "cuerpo cuerpo cuerpo" "pie pie pie";
      grid-template-columns: 1fr 1fr 1fr; }
    .contenedor .camisetas {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 576px) {
    .contenedor .contenedor {
      grid-template-areas: "inicio" "titulo" "cuerpo" "pie";
      grid-template-columns: 1fr; }
    .contenedor .camisetas {
      display: grid;
      grid-template-columns: 1fr; }
    .contenedor .titulo {
      font-size: 10px; }
    .contenedor .boton {
      padding: auto;
      font-size: px; } }
