body{
    background-image: url(../img/fondositioweb.jpg);
    background-size: cover;
}
.contenedor{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "inicio inicio inicio"
    "titulo titulo titulo"
    "cuerpo cuerpo cuerpo"
    "pie pie pie"
    ;
}

.categoryselec:hover{
    transform: scale(1.5);
    transition: all 2s;
}

span{
    color: #FAF3E3;
    margin: 5px;
}
@import ".layout/productos";
@import ".layout/mainnosotros";
@import ".layout/maincontacto";
@import "./layout/header";
@import"./layout/reset";
@import "./layout/main";
@import "./utilities/mixins";

p{
    color: #FAF3E3;
    margin: 10px;
    font-size: 15px;
}
@import "./layout/footer"


