body{
    background-image: url(../img/fondositioweb.jpg);
    background-size: cover;
    p{
        color: $fuente-principal;
        margin: 10px;
        font-size: 15px;
    }
    span{
        color: $fuente-principal;
        margin: 5px;
    }
}


