body{
    background-image: url(../img/fondositioweb.jpg);
    background-size: cover;
    p{
        color: $fuente-principal;
        margin: 10px;
        font-size: 25px;
        font-weight: 500;
    }
    span{
        color: $fuente-principal;
        margin: 5px;
    }
    a{
        text-decoration: none;
        color: $fuente-principal;
    }
    h1{
        font-size: 100px;
        font-weight: 900;
    }
}


