header{
    color: $fuente-principal;
    background-color: $color-fondo2;
    padding: 30px;
    grid-area: inicio;
    .logotipo{
        display: flex;
        justify-content: center;
    }
    ul{
        list-style: none;
        li{
            font-size: 25px;
        }
    }
    .carrito{
        padding: 15px;
    }
}