.cuerpo{
    grid-area: cuerpo;
    
    
    section{
        background-color: $color-fondo2;
        padding: 5px;
        margin: 2%;
    }
    h3{
        color: $fuente-principal;
    }
    .titulo{
        @extend h3;
        text-align: center;
        padding: 40px;
        font-size: 20px;
        background-image: url(../img/fondonba.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Anton', sans-serif;
        grid-area: titulo;
    }
    .textopri{
        font-size: 28px;
        text-align: center;
        padding: 10px;
        background-color: $color-fondo;
        border: 10px solid white;
    }
    .vertodo{
        color: $fuente-principal;
        background-color: #125B50;
        padding: 10px;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 5px 40px 5px 40px;
    }    
    
    .row{
        display: flex;
        justify-content: flex-start;
        .nombreyprecio{
            font-size: 15px;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            .boton{
                padding: 3px; 
                background-color: $botones; 
                color: $fuente-principal; 
                text-decoration: none;
                border-radius: 10px;
                margin: 5px;
            }
        }
        
    }
}