ul{
    list-style: none;
}
.cadauno{
    font-size: 30px;
    font-weight: 800;
}
.secdentro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selec{
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    .categoryselec{
        position: relative;
        display: inline-block;
        text-align: center;
        border: 5px solid #FAF3E3;
        background-color: $color-fondo;
        padding: 10px;
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color:$fuente-principal;
            font-size: 100px;
            font-weight: 200;
            font-weight: bold;
        
        }
    }
}
.titulo{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    color: $fuente-principal;
    text-align: center;
    background-image: url(../img/fondonba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    grid-area: titulo;
}
.vertodo{
    color: $fuente-principal;
    text-align: center;
    margin: 5px 40px 5px 40px;
    .vertodoboton{
        background-color: #125B50;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px;
    }
}
.secdentroelegir{
    background-color: #000000;
    font-family: 'Anton', sans-serif;
    grid-area: titulo;
}
.categoria{
    text-align: center;
    color: #FAF3E3;
}
.textopri{
    font-size: 28px;
    text-align: center;
    padding: 10px;
    background-color: $color-fondo;
    border: 10px solid white;
}
.categoryselec:hover{
    transform: scale(1.5);
    transition: all 2s;
}
section{
    background-color: #000000;
    padding: 5px;
    margin: 2%;
}
.row{
    display: flex;
    justify-content: flex-start;
    .nombreyprecio{
        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 30px;
        .boton{
            padding: 10px;
            background-color: $botones; 
            color: $fuente-principal; 
            text-decoration: none;
            border-radius: 10px;
            margin: 5px;
        }
    }
    
}