.cuerpo{
    grid-area: cuerpo;
    
    
    section{
        background-color: $color-fondo2;
        padding: 5px;
        margin: 2%;
    }
    h3{
        color: $fuente-principal;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        color: $fuente-principal;
        text-align: center;
        background-image: url(../img/fondonba.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Anton', sans-serif;
        grid-area: titulo;
    }
    .textopri{
        font-size: 28px;
        text-align: center;
        padding: 10px;
        background-color: $color-fondo;
        border: 10px solid white;
    }
    .vertodo{
        color: $fuente-principal;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }    
    
    .row{
        display: flex;
        justify-content: flex-start;
        .nombreyprecio{
            font-size: 15px;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            .boton{
                padding: 10px; 
                background-color: $botones; 
                color: $fuente-principal; 
                text-decoration: none;
                border-radius: 10px;
                margin: 5px;
            }
        }
        
    }
}