.selec{
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    .categoryselec{
        position: relative;
        display: inline-block;
        text-align: center;
        border: 5px solid #FAF3E3;
        background-color: $color-fondo;
        padding: 10px;
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color:$fuente-principal;
            font-size: 100px;
            font-weight: 200;
            font-weight: bold;
        
        }
    }
}
.categoryselec:hover{
    transform: scale(1.5);
    transition: all 2s;
}