.contenedor{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "inicio inicio inicio"
    "titulo titulo titulo"
    "cuerpo cuerpo cuerpo"
    "pie pie pie"
    ;
    @media(max-width:1050px){
  .contenedor{
    grid-template-areas: 
    "inicio inicio inicio"
    "titulo titulo titulo"
    "cuerpo cuerpo cuerpo"
    "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .selec{
    display: flex;
    flex-direction: row;
    .text{
      font-size: 70px;
    }
  }
  .imagenelegir{
    max-width: 100%;
    width: 175px;
  }
  .inicio{
    font-size: 20px;
  }
  .pie{
    display: flex;
    flex-direction: column;
  }
  .pietexto{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .menu{
    display: flex;
    flex-direction: column;
    color: #FAF3E3;
    background-color: #990000;
    padding: 10px;
    border: 10px solid #FAF3E3;
    text-align: center;
  }
  .camisetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categoryselec{
    margin: 10px;
  }
  .categoryselec:hover{
    transform: scale(1.1);
    transition: all 2s;
  }
  .nombreyprecio{
    font-size: 13px;
  }
  span{
    margin: 3px;
  }
  .titulo{
    max-height: 100%;
    height: 600px;
  }
  h1{
    font-size: 60px
  }
  .nosotros{
    padding: 60px;
  }
}
@media(max-width:768px) {
  .contenedor{
    grid-template-areas: 
    "inicio inicio inicio"
    "titulo titulo titulo"
    "cuerpo cuerpo cuerpo"
    "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .camisetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .selec{
    .text{
      font-size: 40px;
    }
  }
  .imagenelegir{
    max-height: 100%;
    height: 100px;
    max-width: 100%;
    width: 100px;
  }
  .text{
    font-size: 30px;
  }
  h1{
    font-size: 50px;
   }
   p{
     font-size: 15px;
   }
   .nosotros{
    padding: 30px;
   }
   .contacto{
    padding: 30px;
   }
   .titulo{
    max-height: 100%;
    height: 500px;
   }
  }
@media(max-width:576px){
  .contenedor{
   grid-template-areas: 
    "inicio"
    "titulo"
    "cuerpo"
    "pie";
    grid-template-columns: 1fr;
  }
  .camisetas{
    display: grid;
    grid-template-columns: 1fr;
  }
  h1{
    font-size: 35px;
   }
   p{
     font-size: 12px;
   }
  .boton{
    padding: auto;
    font-size: px;
  }
  .nosotros{
    padding: 5px;
  }
  .contacto{
    padding: 5px;
  }
  }
@media(max-width:410px){
  .contenedor{
   grid-template-areas: 
    "inicio"
    "titulo"
    "cuerpo"
    "pie";
    grid-template-columns: 1fr;
  }
  .titulo{
    max-height: 100%;
    height: 800px;
  }
}
}